header {
	background-color: #bbbbbb;
	padding: 20px 0;
}

/* A melhor técnica de centralizar uma div é colocar a margens laterais automáticas*/

/*	Sobr posicionamento, o posicionamento inicial é o "Static", para criarmos uma posição
	que nos permite manipular o elemento, colocariamos a posição relative, que será o posicionamento
	relativo ou inicial ao navegador, ai teriamos a possibilidade de mexer com o quê a gente quer mexer
*/
.caixa {
	position: relative;
	/*Posição relativa de modo a colocar o conteúdo do menu dentro da caixa*/
	width: 940px;
	margin: 0 auto;
	/* Para o top e o rodapé a margem é 0 e para o lado direito e esquerdo, a margem é automártica*/
}

nav {
	position: absolute;
	/*Posição absolute é usado para quebrar o ponto inicial e gerar um posicionamento absoluto em relação a uma outra coisa*/
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #c78c19;
	text-decoration: underline;

}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	/*Usado para que o conteúdo percentual adapta-se a nossa borda*/
	border: 2px solid #000000;
	border-radius: 10px;
}


.produtos li:hover {
	border-color: #c78c19;
}

/* o hover e o active são designados como pseudoclasses 
a propriedade active apresenta o resultado de quando eu clico no elemento*/

.produtos li:active {
	border-color: #088c19;
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("../img/bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #ffffff;
	font-size: 13px;
	margin: 20px 0 0;
}


main {
	display: flex;
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label,
form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background-color: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background-color: darkorange;
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
}

thead {
	background-color: #555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000;
	padding: 8px 15px;
}